<div class="container">
  <h1>Angular Directives</h1>

  <p
    appStyle="blue"
    fontSize="20px"
    [dStyle]="{border: '1px solid blue'}"
  >Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eaque.</p>

  <button (click)="isVisible = !isVisible">Toggle</button>

<!--  <div *ngIf="isVisible" class="wrap">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa cupiditate distinctio eveniet explicabo harum ipsum laudantium obcaecati quasi quod.</p>-->
<!--  </div>-->

<!--  <ng-template [ngIf]="isVisible">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus doloremque, illo minima optio quae quibusdam recusandae? Laudantium mollitia nam rem!</p>-->
<!--  </ng-template>-->

  <div *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus doloremque, illo minima optio quae quibusdam recusandae? Laudantium mollitia nam rem!</p>
  </div>

</div>
